// Custom styles.


  body{
    background:url(../images/back_3.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    //background-color:rgba(202, 203, 203, .5);
}

  
// 主页文章添加阴影效果
 .post {
   //margin-top: 0px;
   //margin-bottom: 60px;
   //padding: 25px;
   //-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 1);
   //-moz-box-shadow: 0 0 5px rgba(202, 203, 204, 1);
   //background-color: rgba(255,255,255,0.8); //0.7是透明度
  }

  span#inline-purple,
  span#inline-blue,
  span#inline-green, 
  span#inline-green {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:bold;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:5%;
  }
// 颜色块-黄
  span#inline-yellow {
    
    background-color: #f0ad4e;
}
// 颜色块-绿
  span#inline-green {
    
    background-color: #5cb85c;
  }
// 颜色块-蓝
  span#inline-blue {
    
    background-color: #2780e3;
  }
// 颜色块-紫
  span#inline-purple {
    background-color: #9954bb;
}


