.post-body {
  +mobile() {
    text-align: justify;
  }
}

.post-button {
  margin-top: 20px;
  text-align: left;

  a {
    padding: 0;
    font-size: $font-size-base;
    
    background: none;
    border: none;
    border-bottom: 2px solid $grey-dim; 
    transition-property: border;

    +mobile() { font-size: $font-size-small; }
    +desktop-large() { font-size: $font-size-large; }
    
  }
}

